<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>

    <form th:action="@{/imagen/add}" th:object="${imagen}" method="post">
        <input type="hidden" name="idImagen" th:field="*{idImagen}">

        <label for="">Url</label>
        <input type="text" name="urlImagen" th:field="*{urlImagen}" required placeholder="Ingresa la url de la imagen a registrar.">

        <button type="submit">Registrar</button>
    </form>
    
</body>
</html>